  body {
    opacity: 0; 
    animation: fadeIn 4s ease forwards;
  }

  @keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
  }

  .images {
    margin: 1em auto;
    padding: 0px;
    width: 1900px;
    height: 870px;
    text-align: center; 
  }

  header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    background: linear-gradient(45deg, #ff5733, #ffa733, #3498db, #2ecc71);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-size: 200% 200%;
    animation: colorCycle 10s linear infinite;
  }

  @keyframes colorCycle {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  h1 {
    background-color: lightgrey;
  }

  main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
  }

  a:hover {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    color: #ff5733;
    text-shadow: 0px 0px 20px rgba(255, 87, 51, 0.7);
    background-size: 400% 400%;
    animation: gradientBackground 4s ease infinite;
  }

  a {
    text-decoration: none;
  }

  #art1 {
    width: auto;
    height: 500px;
    transition: .1s all;
  }

  #art1:hover {
    transform: scale(1.2);
  }

  #art2 {
    width: auto;
    height: 500px;
    transition: .1s all;
  }

  #art2:hover {
    transform: scale(1.2);
  }

  #art3 {
    width: auto;
    height: 500px;
    transition: .1s all;
  }

  #art3:hover {
    transform: scale(1.2);
  }


  

 
  

  